Faker>=13.3.2
Flask>=2.0.3
Flask-Cors>=3.0.10
Flask-RESTful>=0.3.8
Flask-SQLAlchemy>=2.5
Flask-Session>=0.4.0
Jinja2>=3.0.3
Kivy>=2.1.0
Kivy-Garden>=0.1.4
PyJWT>=2.3.0
httpx>=0.22.0
httpcore>=0.14.7
kivy-deps.gstreamer>=0.3.3
kivy-deps.angle>=0.3.2
kivy-deps.glew>=0.3.1
kivy-deps.sdl2>=0.4.5
psycopg2>=2.9.2
pytest>=6.2.5
pygame>=2.1.2
pygments>=2.11.2
pymongo>=4.1.1
SQLAlchemy>=1.4.27
Werkzeug>=2.0.3
pika>=1.2.1
requests>=2.27.1
trio>=0.20.0
bcrypt>=3.2.2


