<%- include('partials/header'); -%>​ ​
<header>
  ​

  <div class="smoothie">​ <img src="/smoothie.png" alt="" />​</div>
  ​

  <div class="headings">
    ​
    <h2>Airlock Info Bay</h2>
    ​
    <h3>By Boris Group LTD</h3>
    ​ <a href="/smoothies" class="btn">View Info</a>​
  </div>
  ​
</header>
​ <%- include('partials/footer'); -%>​ ​
