.time-filter {
  color: rgb(202, 6, 241);
  padding: 0rem ;
}

.time-filter__control {
  display: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.time-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.time-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}