<html lang="en">
  ​

  <head>
    ​
    <meta charset="UTF-8" />
    ​
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    ​
    <title>Airlock Hub</title>
    ​
    <link rel="stylesheet" href="/styles.css" />
    ​</head
  >​

  <body>
    ​
    <nav>
      ​
      <h1><a href="/">Boris Group LTD</a></h1>
      <ul>
        <% if (user) {%>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout" class="btn">LOG OUT</a></li>
        <% } else { %>
        <li><a href="/login" class="btn">LOG IN</a></li>
        <li><a href="/signup" class="btn">SIGN UP</a></li>
        <button id="btn1" class="btn">SYNC USERS</button>
        <% } %>
      </ul>
    </nav>
    ​​
    <script>
      const button = document.getElementById("btn1");
      button.addEventListener("click", function (e) {
        console.log("button was clicked");
      });
    </script>
  </body>
</html>
