<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airlock Hub</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Boris Group LTD</a></h1>
      <ul>
        <% if (user) {%>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout" class="btn">LOG OUT</a></li>
        <% } else { %>
        <li><a href="/login" class="btn">LOG IN</a></li>
        <li><a href="/signup" class="btn">SIGN UP</a></li>
        <li>
          <a
            ><button
              type="button"
              id="btn1"
              name="btn1"
              onclick="myFunction()"
              class="btn"
            >
              SYNC USERS
            </button>
            <p id="demo"></p
          ></a>
        </li>
        <% } %>
      </ul>
    </nav>
    <script>
      document.addEventListener("click", myFunction);
      async function myFunction() {
        //the ajax (to be adjusted)
        try {
          const res = await fetch("/export", {
            method: "GET",
            headers: { "Content-Type": "text" },
          });
          const data = await res.json();
          console.log(data);
          document.getElementById("demo").innerHTML = data[0].username;
        } catch (err) {
          document.getElementById("demo").innerHTML = err;
        }
      }
    </script>
  </body>
</html>
